<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>code</key>
        <dict>
            <key>code1</key>
            <string>81EAC317E861E2291311A774CE04A565</string>
            <key>code2</key>
            <string>F8B313824E4D25D54766D8D1A630A26B</string>
            <key>code3</key>
            <string>E7BEAC9B38491819F30FE4C46DD38655</string>
            <key>code4</key>
            <string>04714562D38BEB5E45ADB84FEF62B4C8</string>
        </dict>
        <key>agcgw_all</key>
        <dict>
            <key>CN</key>
            <string>connect-drcn.dbankcloud.cn</string>
            <key>CN_back</key>
            <string>connect-drcn.hispace.hicloud.com</string>
            <key>DE</key>
            <string>connect-dre.dbankcloud.cn</string>
            <key>DE_back</key>
            <string>connect-dre.hispace.hicloud.com</string>
            <key>RU</key>
            <string>connect-drru.dbankcloud.cn</string>
            <key>RU_back</key>
            <string>connect-drru.hispace.hicloud.com</string>
            <key>SG</key>
            <string>connect-dra.dbankcloud.cn</string>
            <key>SG_back</key>
            <string>connect-dra.hispace.hicloud.com</string>
        </dict>
        <key>oauth_client</key>
        <dict>
            <key>client_id</key>
            <string>105221625</string>
            <key>client_type</key>
            <string>22</string>
        </dict>
        <key>configuration_version</key>
        <string>3.0</string>
        <key>app_info</key>
        <dict>
            <key>app_id</key>
            <string>322780611178895653</string>
            <key>package_name</key>
            <string>com.vidtreon.ios</string>
        </dict>
        <key>client</key>
        <dict>
            <key>cp_id</key>
            <string>5190372000024238043</string>
            <key>product_id</key>
            <string>737518067794038658</string>
            <key>client_id</key>
            <string>791287930751566784</string>
            <key>client_secret</key>
            <string>[!00ECDFE23D24FFF7618AE91A1BBFA759783E0D503F581185BEFF283EB3B5628B310AE6A8AD7131C118EC87B1265E4F7B20153159AE670C42C590421FF9E065A1441CDDAAB8B4873478554F5272E9B8323A782F32C687440A049B38E13204A8B3E1]</string>
            <key>project_id</key>
            <string>737518067794038658</string>
            <key>app_id</key>
            <string>322780611178895653</string>
            <key>api_key</key>
            <string>CwEAAAAAU5yiqBnJmEWae6QPqDBmGS6d8kesfXNIGfYvdpCfhlSCv5t0xUp/yagt83uv4tyi3GHGXSEOyEELAJ11qF2MHSAjwo0=</string>
            <key>package_name</key>
            <string>com.vidtreon.ios</string>
        </dict>
        <key>service</key>
        <dict/>
        <key>region</key>
        <string/>
    </dict>
</plist>
