<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>920734956176-07botff27cs9nrr3g3ohmrj6t1nvcno4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.920734956176-07botff27cs9nrr3g3ohmrj6t1nvcno4</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>920734956176-ia3mckcje81b166oqq2201vegk82dj60.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDpAQeC1p8_iEt1L2g3GIBntXPIeo5qI3Q</string>
	<key>GCM_SENDER_ID</key>
	<string>920734956176</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dog.fa.so.app</string>
	<key>PROJECT_ID</key>
	<string>sofadog-9325a</string>
	<key>STORAGE_BUCKET</key>
	<string>sofadog-9325a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:920734956176:ios:9ad0d63b6f073a3e803615</string>
	<key>DATABASE_URL</key>
	<string>https://sofadog-9325a.firebaseio.com</string>
</dict>
</plist>
